.navbar{
    display:flex;
    background: #1C2541;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    color: white;
}

.navbar span {
    margin-left: 15px;
    font-size: 25px;
}

.navbar span i{
    margin: 0px 10px;
}

.nav-links{
    display: flex;
    box-sizing: border-box;
    list-style: none;
    margin: 0px 20px;
    width: 200px;
    justify-content:space-between;
}

.nav-links a {
    color:white;
    text-decoration: none;
}

.nav-item{
    padding: 10px 15px;
    cursor: pointer !important;
    border-radius: 10px;
}

.nav-item:hover{
    color: rgb(38, 83, 76);    
    text-decoration: none;
    cursor: pointer !important;
}

.nav-item:hover {
    background-color: white;
  }