.navbar{
    display:flex;
    background: #1C2541;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    color: white !important;
    text-decoration: none;
}


#title {
    margin-left: 15px;
    font-size: 25px;
}

#title a {
    color: white;
    text-decoration: none;
}

.navbar span i{
    margin: 0px 10px;
}

.nav-links{
    display: none;
    box-sizing: border-box;
    list-style: none;
    margin: 0px 20px;
    justify-content:space-between;
    align-items: center;
}

.nav-links a {
    color:white;
    text-decoration: none;
    margin: 0 10px;
}

.nav-item {
    padding: 10px 15px;
    cursor: pointer !important;
    border-radius: 10px;
}

.nav-item:hover{
    color: rgb(38, 83, 76);    
    text-decoration: none;
    cursor: pointer !important;
}

.nav-item:hover {
    background-color: white;
}

.abcRioButton{
    border-radius: 10px !important;
}

.hidden{
    display: none !important;
}

.show {
    display: block;
    margin: 0px 20px;
    border-radius: 17px;
}


.burger{
    display: none;
    margin: 0px 20px;
}

.burger div {
    width:25px;
    height:3px;
    background-color: rgb(214, 204, 204);
    margin: 5px;
    transition: all 0.3s ease;
}

.profileModal{
    position: absolute;
    right:8px;
    top: 86px;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    background: #fff;
    color: #000;
    z-index: 999;
    line-height: normal;
    display: block;
    width: 300px;
    max-height: calc(100vh - 62px - 100px);
    border-radius: 8px;
    margin-left: 12px;
}

.profileModalInfo{
    margin: 20px;
    white-space: nowrap;
    text-align: center;
}

.profileModalIMG{
    border-radius: 20px;
}

.signOut{
    background-color: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 4px;
    letter-spacing: .15px;
    padding: 10px 24px;
    cursor: pointer;
    font: 500 14px/16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

@media screen and (max-width:768px){
    body{
        overflow: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: #1C2541;
        margin: 0px;
        padding:0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        font-size: 20px;
        z-index: 100;
    }

    .nav-links a, .nav-links div.g-signin2, #profile {
        opacity: 0;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
    
    .nav-item:hover {
        background: transparent;
        color:white;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFadeIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFadeOut {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(50px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px)
}